<div class="container-fluid">
  <div class="row">
    <div class="col text-center">
      <app-spieler [name]="'Lutz'"></app-spieler>
    </div>
    <div class="col text-center">
      <app-spieler [name]="'Büger'"></app-spieler>
    </div>
    <div class="col text-center">
      <app-spieler [name]="'Tom'"></app-spieler>
    </div>
    <div class="col text-center">
      <app-spieler [name]="'Frank'"></app-spieler>
    </div>
    <div class="col text-center">
      <app-spieler [name]="'Ollek'"></app-spieler>
    </div>
    <div class="col text-center">
      <app-spieler [name]="'Schulte'"></app-spieler>
    </div>
  </div>
</div>
